body{
background-color:linen;
background-image:url("index.png");
background-repeat:repeat-x;
background-attachment:fixed;

}
h1{
color:maroon;
margin-left:40px;
}
p{
background-color:red;
font-size:30px;
font-weight:bold;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
text-indent:1cm;
text-align:center;
}
p.new{
background-color:green;
margin-left:50px;
font-style:itallic;
font-family:georgia,garamond,serif;
}
